
/* ------------- main ------------- */
body {
	background: #fafafa;
	color: #000;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 100;
	line-height: 1.3em;
	width: auto;
	margin: 0;
}
* {
	margin: 0;
	padding: 0;
}
.clear { clear: both; }
img { border: 0; }
.space {
	display: block;
	margin-top: 20px;
}
/* ------------- text ------------- */
a,
a:link,
a:visited {
	color: #000; 
	text-decoration: underline;
}
b { color: #000; }
/* ------------- wraps ------------- */
#container {
	min-width: 100px;
	max-width: 100%;
	margin: 0 auto;
}
.closed { display: none; }
.open {
	display: block;
	margin-top: 6px;
	padding-top: 5px;
}
	.open p {
		padding: 5px 0;
		line-height: 1.5em;
		color: #ddd;
		font-weight: normal;
	}
	.open img.example {
		text-align: center;
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
		display: block;
		position: relative;
	}
.content {
	margin-top: 5px;
	padding: 10px;
}
	.content p { font-size: 0.95em; }
	.content p.welcome { padding-bottom: 3px; }
/* ------------- header ------------- */
#header {
	background: #fff;
	border-bottom: 1px solid #999;
	display: inline-block;
	padding: 0;
	margin: 0;
	width: 100%;
	z-index: 2;
}
	#header div {
		color: #fff;
		display: block;
		text-align: center;
		text-decoration: none;
		width: 25%;
		float: left;
	}
		#header div a {
			text-decoration: none;
			color: #000;
			display: block;
			padding: 10px 0px;
			font-size: 1em;
			font-weight: bold;
			border-top: 5px solid #fff;
			border-bottom: 5px solid #fff;
		}
/* ------------- primary expander ------------- */
.numlist li {
	font-size: 1em;
	text-align: left;
	list-style: none;
}
	.numlist li p { color: #222; }
	.numlist li .title {
		color: #000;
		font-weight: 900;
	}
div.head-title {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #bbb;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 5px;
	display: inline;
	float: left;
}
.img-title-container {
	display: block;
	width: 25px;
	height: 25px;
	text-align: right;
	float: right;
}
.img-title {
	height: 100%;
	max-height: 25px;
	display: none;
}
	.numlist li .learnmore {
		color: #111;
		background: #fff;
		border: 1px solid #aaa;
		padding: 8px 15px;
		margin-top: 10px;
		display: block;
		text-align: left;
		width: auto;
		float: left;
		font-weight: 300;
		font-size: 0.9em;
	}
		.numlist li .learnmore img { 
			display: inline;
			vertical-align: middle;
			padding: 0 5px;
			max-width: 10px;
		}
/* ------------- secondary expander ------------- */
.disclist { padding-bottom: 0; }
	.disclist .open { border-top: 1px solid #aaa; }
	.disclist li {
		color: #111;
		background: #fff;
		border: 1px solid #ccc;
		margin: 5px 0;
		padding: 7px 10px 8px 10px;
		font-size: 0.9em;
		width: auto;
	}
	.disclist li.note {
		color: #333;
		background: transparent;
		padding: 5px 10px;
		border: 0;
	}
	.disclist li .open p { color: #333; }
		.disclist li img.arrow {
			max-width: 10px;
			float: right;
			padding-top: 5px;
		}
		.disclist li ol li {
			color: #333;
			margin: 5px 0 5px 20px;
			padding: 0;
			font-weight: normal;
			list-style: decimal;
			border: 0;
		}
		.disclist li ul li {
			font-weight: normal;
			color: #555;
			line-height: 1.5em;
			border: 0;
		}
			.disclist li ul li span.gestures {
				color: #000;
				font-weight: bold;
				display: block;
				padding: 0 0 3px 0;
			}
span.gestures { font-weight: bold; }
#ul_0a img,
#ul_0b img,
#ul_0c img,
#ul_0d img,
#ul_0e img,
#ul_0f img,
.disclist img {
	width: 1.2 5em;
	margin: 0 3px -5px 3px;
	display: inline;
}
/* ------------- images ------------- */
.img-title-container { display: none; }
.swypekey {
	padding-right: 20px;
	margin-right: 2px;
	background: url('img_swypekey.png') right center no-repeat;
}
/* ------------- no highlight ------------- */
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }